#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Project Configuration"

config TEST_UVC
    bool
    default y
    select HAVE_LCD
    select HAVE_GRAPHICS

config CMAKE_SOURCE_DIR
    string
    option env="CMAKE_SOURCE_DIR"

config RAM_SIZE
    default "0x4000000"

config DCPS_ENABLE
    def_bool y

config BACKLIGHT_ENABLE
    def_bool y

config BACKLIGHT_DUTY_CYCLES
    default "5, 25, 40, 55, 65, 75, 82, 88, 92, 95"

config BACKLIGHT_DEFAULT_DUTY_CYCLE
    default "95"

config LCD_ENABLE
    def_bool y

config LCD_WIDTH
    default "1024"

config LCD_HEIGHT
    default "600"

config LCD_PITCH
    default "2048"

config LCD_INIT_SCRIPT
    default "it970_lcd_joyangit_1024_600_24bits_mipi_128pin_rot180.txt"

config CMDQ_ENABLE
    def_bool y

config M2D_ENABLE
    def_bool y

config USB0_ENABLE
    def_bool y

config USB1_ENABLE
    def_bool y

config UVC_ENABLE
    def_bool y

config JPEG_HW_ENABLE
    default y

config UART0_ENABLE
    def_bool y

config GPIO_UART0_TX
    default "4"

config GPIO_UART0_RX
    default "-1"

config GPIO_BACKLIGHT_PWM
    default "95"

config TASK_DRIVE_PROBE
    def_bool y

config MSC_ENABLE
    def_bool y

config FS_FAT
    def_bool y

config DEF_DBG_UART0
    def_bool y

source "$CMAKE_SOURCE_DIR/sdk/Kconfig"

menu "USB UVC Test"

choice
    prompt "Test App"
    default TEST_UVC

config UVC_EXAMPLE
    bool "USB UVC"
    depends on UVC_ENABLE

endchoice

endmenu
